<!-- <h2>{{ mensaje }}</h2>
<h3>Uno</h3>
<app-contenedor-formulario></app-contenedor-formulario>
<h3>Dos</h3>
<app-contenedor-formulario></app-contenedor-formulario>
<h3>Tres</h3>
<app-contenedor-formulario></app-contenedor-formulario>
<h3>Reto 01</h3> -->
<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>

<!-- <h2>{{ "!!!" + mensaje }}</h2>

{{ 2 + 6 }}

{{ num1 + num2 }}

{{ bool ? "hola" : "Adios" }}

{{ num1 > num2 ? "1 es mayor" : "2 es mayor"}}

{{ foo() }}

<br>

<img [src]="src" [alt]="alt">

<br>

<button (click) = "efecto()">Haz click</button>

<br>



<input type="text" [(ngModel)]="valor">
<h4>{{valor}}</h4>

<br>

<ul *ngIf="super">
    <li>Pan</li>
    <li>Arroz</li>
    <li>cereal</li>
</ul>

<br>

<ul>
    <li *ngFor="let elemento of lista">{{elemento}}</li>
</ul>

<br>

<p [ngClass]="{'class1' : condicion1, 'class2' : condicion2}">Hola de nuevo !!</p> -->