<h1>Perfil del usuario</h1>

<!-- Ejemplo 1 -->
<!-- <h4>Nombre: {{ usuario.nombre }}</h4>

<p>Edad: {{ usuario.edad}}</p>
<p>Curso: {{ usuario.curso }}</p> -->

<!-- Ejemplo 2 -->
<hr>
<!-- <h1>Beers</h1>

<div class="container">
    <div class="beer" *ngFor="let beer of beerData">
        <h3>{{ beer.name }}</h3>
        <h5>{{ beer.price }}</h5>
        <img src="{{ beer.image }}" alt="{{ beer.name }}">
    </div>
</div> -->

<!-- Reto 2 -->

<app-activity></app-activity>

<hr>

<app-gender></app-gender>